/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

/**
 * Header
 */
.header-buttons a.lang:after{
	content: "\f0dd";
    border-left: 1px solid;
    padding-left: 0.8rem;
    margin-left: 2rem;
    float: right;
    width: 0px;
}
.header-buttons a.lang{
	padding: 0 25px!important;
	height: 37px!important;
}
@media (min-width: 992px){
.col-20 {
    width: 20%;
}
.col-78{
	width: 78%;
}

}